<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrarCompra</servlet-name>
        <servlet-class>com.proyecto.CRUD.compras.RegistrarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCompra</servlet-name>
        <servlet-class>com.proyecto.CRUD.compras.ListarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarDesarrolladora</servlet-name>
        <servlet-class>com.proyecto.CRUD.desarrolladoras.RegistrarDesarrolladora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarDesarrolladora</servlet-name>
        <servlet-class>com.proyecto.CRUD.desarrolladoras.ListarDesarrolladora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.proyecto.controlador.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCompra</servlet-name>
        <servlet-class>com.proyecto.CRUD.compras.EliminarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarDesarrolladora</servlet-name>
        <servlet-class>com.proyecto.CRUD.desarrolladoras.EliminarDesarrolladora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarCompra</servlet-name>
        <servlet-class>com.proyecto.CRUD.compras.ActualizarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarDesarrolladora</servlet-name>
        <servlet-class>com.proyecto.CRUD.desarrolladoras.ActualizarDesarrolladora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registro</servlet-name>
        <servlet-class>com.proyecto.controlador.registro.registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarUsuarios</servlet-name>
        <servlet-class>com.proyecto.CRUD.usuarios.listarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registroJuegos</servlet-name>
        <servlet-class>com.proyecto.CRUD.juegos.registroJuegos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarJuegos</servlet-name>
        <servlet-class>com.proyecto.CRUD.juegos.listarJuegos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarTienda</servlet-name>
        <servlet-class>com.proyecto.CRUD.juegos.listarTienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarCategoria</servlet-name>
        <servlet-class>com.proyecto.CRUD.categorias.registrarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarPlataforma</servlet-name>
        <servlet-class>com.proyecto.CRUD.plataformas.registrarPlataforma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrarPlataforma</servlet-name>
        <servlet-class>com.proyecto.CRUD.plataformas.mostrarPlataforma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrarJuegos</servlet-name>
        <servlet-class>com.proyecto.CRUD.juegos.mostrarJuegos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarCompra</servlet-name>
        <url-pattern>/RegistrarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCompra</servlet-name>
        <url-pattern>/ListarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarDesarrolladora</servlet-name>
        <url-pattern>/RegistrarDesarrolladora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarDesarrolladora</servlet-name>
        <url-pattern>/ListarDesarrolladora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCompra</servlet-name>
        <url-pattern>/EliminarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarDesarrolladora</servlet-name>
        <url-pattern>/EliminarDesarrolladora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarCompra</servlet-name>
        <url-pattern>/ActualizarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarDesarrolladora</servlet-name>
        <url-pattern>/ActualizarDesarrolladora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarUsuarios</servlet-name>
        <url-pattern>/listarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroJuegos</servlet-name>
        <url-pattern>/registroJuegos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarJuegos</servlet-name>
        <url-pattern>/listarJuegos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarTienda</servlet-name>
        <url-pattern>/listarTienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarCategoria</servlet-name>
        <url-pattern>/registrarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarPlataforma</servlet-name>
        <url-pattern>/registrarPlataforma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrarPlataforma</servlet-name>
        <url-pattern>/mostrarPlataforma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrarJuegos</servlet-name>
        <url-pattern>/mostrarJuegos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
